body {
font-family: sans-serif;
}

header 
{ background-color: blue; 
   border-radius: 10px; 
} 

header img {
    margin: 10px; 
} 

h1 {
    width: 40px; height: 20px; color: red; text-align:center; 
    } 

footer p { background-color: green; margin: 10px; border: 10px solid green; } 

nav{ border: 1px solid silver; } 

nev a { text-decoration: none; color: silver; margin: 6px; padding: 5px; } 

.vil { background-color: lightgreen; padding: 5px; }

main{
   margin: 10px;
   border: blue;
}
